* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #efedff;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
  max-width: 950px;
  display: block;
  margin: 0 auto 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.5em;
}

.txt-highlight {
  color: #cda715;
}

.txt-secondary {
  color: #31479e;
}

.txt-black {
  color: #000;
}

ul {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2rem;
}

ul li {
  background: url(../dist/assets/span-star.svg) no-repeat center left;
  padding-left: 4rem;
  margin-top: 1rem;
}

p.bold {
  font-weight: bold;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  background: #31479e;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.4s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #31479e;
}
#back-to-top.show {
  opacity: 0.8;
}

::-webkit-scrollbar {
  width: 2px;
  background: #7a7aae;
}

::-webkit-scrollbar-thumb {
  background: #cda715;
  border-radius: 10px;
}

.main {
  opacity: 0;
  display: none;
  transition: opacity 0.8s ease-in;
  height: inherit;
}

/* Home section */

.home {
  height: 100vh;
  width: 100vw;
  background: url(../dist/img/lublin.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.bg-overlay {
  position: absolute;
  background: linear-gradient(
    0deg,
    #31479e 0%,
    rgba(122, 122, 174, 0.67) 125.75%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 100vh;
  width: 100vw;
}

.home-info {
  height: 100vh;
  width: 100%;
  text-align: center;
  position: absolute;
}

.home-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}

.e-logo {
  height: 10rem;
  width: 28rem;
  background: url(../dist/img/Erasmus[White].png) no-repeat;
  background-position: center;
  background-size: contain;
}

.ic-logo {
  height: 8rem;
  width: 18rem;
  background: url(../dist/img/ic-english-sm.png) no-repeat;
  background-position: center;
  background-size: contain;
  padding: 5rem 0 0;
  margin-left: 3rem;
  margin-top: 1rem;
}

.home-info > p {
  margin-bottom: 1rem;
}

.buttons-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 0;
}

.sign-up-btn,
.more-btn {
  display: block;
  font-weight: bold;
  width: 300px;
  height: 80px;
  padding: 25px;
  font-size: 1.5rem;
  margin: 0 2rem;
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up-btn {
  background: #efedff;
  color: #31479e;
}

.more-btn {
  border: 4px solid #efedff;
  background: none;
  padding-top: 20px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up-btn:hover {
  box-shadow: none;
  background: #cda715;
  cursor: pointer;
}

.more-btn:hover {
  box-shadow: none;
  color: #cda715;
  border-color: #cda715;
}

/* About section */
#about {
  text-align: center;
  padding: 4rem 10rem;
  width: 100vw;
  background: #efedff;
}

#about h2 {
  color: #31479e;
}

#about p {
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-top: 1.5rem;
}

/* Features section */
.features {
  background: #7a7aae;
  text-align: center;
  padding: 4rem 10rem;
}

/* Programme section */
.programme {
  background: #efedff;
  text-align: center;
  padding: 4rem 10rem;
}

.programme-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  grid-gap: 2rem;
}

.programme-items .item {
  margin-bottom: 1rem;
}
.programme-items .item h3 {
  font-size: 1.5rem;
  text-align: center;
}

.item li {
  display: inline-block;
  margin-top: 1rem;
}

/* Benefits section */

.benefits {
  background: linear-gradient(180deg, #efedff 0%, #31479e 90.49%);
  text-align: center;
  padding: 4rem 2rem;
}

.benefits-container {
  display: flex;
  justify-content: center;
  /* align-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.benefits > h3 {
  text-align: left;
  display: block;
  margin-left: 4rem;
}

.cloud {
  width: 33vw;
  height: 30vh;
  margin: 0 1rem 1rem;
}

.cloud:first-child {
  background: url(../dist/img/cloud-two.png) center no-repeat;
  background-size: contain;
}

.cloud:nth-child(2) {
  background: url(../dist/img/cloud-one.png) center no-repeat;
  background-size: contain;
}

.cloud:nth-child(3) {
  background: url(../dist/img/cloud-three.png) center no-repeat;
  background-size: contain;
}

.cloud:last-child {
  background: url(../dist/img/cloud-four.png) center no-repeat;
  background-size: contain;
}

.benefits .sign-up-btn {
  display: inline-block;
  margin-top: 3rem;
}

/* Experts section */
.experts {
  background: #efedff;
  text-align: center;
  padding: 4rem 10rem;
}

.experts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  text-align: left;
  margin-top: 5rem;
}

.expert {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}

.expert img {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description {
  display: inline-block;
}

.description p.bold {
  margin: -0.5rem 0 1rem;
}

/* Venue section */

.venue {
  background: linear-gradient(180deg, #efedff 0%, #31479e 90.49%);
  text-align: center;
  padding: 4rem 2rem;
}

.venue-container {
  display: flex;
  justify-content: space-around;
}

.hotel {
  width: 25rem;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hotel:first-child {
  margin-right: 2rem;
  position: relative;
  z-index: 1;
  padding: 5rem 0;
}

.hotel:first-child > p:last-child {
  margin-top: 0.7rem;
}

.hotel-bg {
  background: url(../dist/img/hotel.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 67.9%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Sign Up page */

#sign-up {
  background: #efedff;
  padding: 4rem 2rem;
  text-align: center;
}

.sign-ups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 3rem auto 0;
}

.sign-up-field {
  background: rgba(122, 122, 174, 0.8);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.flag {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
}

.sign-up-sm {
  margin: 1rem auto;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  padding: 0.8rem 0 0;
  display: inline-block;
  border: none;
}

.sign-ups p {
  margin-top: 0.8rem;
}

/* Footer */

footer {
  background: #cda715;
  padding: 2rem 5rem 1rem;
  display: flex;
  margin: auto;
}

.footer-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.soc-logos {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.fa-facebook {
  margin-right: 2rem;
}

.erasmus-footer {
  width: 400px;
  margin-left: -1.2rem;
}

.footer-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logo {
  margin-top: 1rem;
}

.ef-footer {
  width: 200px;
}

.glafka-footer {
  width: 180px;
}

.cofac-footer {
  width: 240px;
  margin-right: -0.5rem;
}

.fas:hover,
.fab:hover {
  color: #fff;
}

.copyright {
  background: #31479e;
  text-align: center;
  padding: 1rem 0;
}

/* Sign-up page */

.sign-up-container {
  position: relative;
  height: 100vh;
}

.close {
  position: absolute;
  display: inline-block;
  margin-top: 1rem;
  right: 1rem;
}
.close:hover {
  cursor: pointer;
}

.sign-up-form {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  background: #7a7aae;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up-form .sign-up-sm {
  padding-top: 0;
}

.form-control {
  width: 20rem;
  background: rgba(239, 237, 255, 0.5);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
  height: 2.5rem;
  transition: all 0.3s ease-in;
  padding-left: 1rem;
}

.form-control:first-child {
  margin-top: 1rem;
}

.form-control::placeholder {
  color: #dfd2d2;
  font-family: "Roboto";
}

.form-control:focus {
  -webkit-box-shadow: 0px 0px 9px 9px rgba(205, 167, 21, 1);
  -moz-box-shadow: 0px 0px 9px 9px rgba(205, 167, 21, 1);
  box-shadow: 0px 0px 9px 9px rgba(205, 167, 21, 1);
}

@keyframes autofill {
  to {
    color: #fff;
    font-family: "Roboto";
    background: rgba(239, 237, 255, 0.5);
  }
}

input:autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}
